<div class="login-container">

  <div class="overlay">

    <div class="login-card">

      <h1>
        💊 MediMart
      </h1>

      <p class="subtitle">
        Smart Pharmacy Management System
      </p>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >

        <!-- USERNAME -->
        <div class="input-group">

          <label>
            Username
          </label>

          <input
            type="text"
            placeholder="Enter username"
            formControlName="username"
          />

          <small
            *ngIf="
              loginForm
              .get('username')
              ?.touched &&
              loginForm
              .get('username')
              ?.invalid
            "
          >
            Username is required
          </small>

        </div>

        <!-- PASSWORD -->
        <div class="input-group">

          <label>
            Password
          </label>

          <input
            [type]="
              hidePassword
              ? 'password'
              : 'text'
            "
            placeholder="Enter password"
            formControlName="password"
          />

          <small
            *ngIf="
              loginForm
              .get('password')
              ?.touched &&
              loginForm
              .get('password')
              ?.invalid
            "
          >
            Password must contain
            minimum 4 characters
          </small>

        </div>

        <!-- SHOW PASSWORD -->
        <div class="show-password">

          <input
            type="checkbox"
            (change)="
              hidePassword =
              !hidePassword
            "
          />

          <span>
            Show Password
          </span>

        </div>

        <!-- ERROR -->
        <p
          class="error"
          *ngIf="errorMessage"
        >
          {{ errorMessage }}
        </p>

        <!-- LOGIN BUTTON -->
        <button
          type="submit"
          class="login-btn"
        >
          Login
        </button>

      </form>

      <!-- REGISTER -->
      <p class="register-text">

        Don't have an account?

        <a
          routerLink="/register"
          class="register-link"
        >
          Register
        </a>

      </p>

    </div>

  </div>

</div>