<div class="login-container">

  <div class="login-card">

    <h2>MediMart Login</h2>

    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="formData.username"
      class="form-control">

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="formData.password"
      class="form-control">

    <button
      class="login-btn"
      (click)="login()">

      Login

    </button>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <p class="register-text">
      Don't have an account?

      <a
        routerLink="/register"
        class="register-link">

        Register

      </a>
    </p>

  </div>

</div>