<div class="edit-container">

  <div class="edit-card">

    <h2>✏️ Edit Medicine</h2>

    <form (ngSubmit)="updateMedicine()">

      <div class="form-grid">

        <input
          type="text"
          placeholder="Medicine Name"
          [(ngModel)]="medicine.name"
          name="name"
          required
        />

        <input
          type="text"
          placeholder="Composition"
          [(ngModel)]="medicine.composition"
          name="composition"
        />

        <input
          type="text"
          placeholder="Alternate Medicine"
          [(ngModel)]="medicine.alternateMedicine"
          name="alternateMedicine"
        />

        <textarea
          placeholder="Description"
          [(ngModel)]="medicine.description"
          name="description"
        ></textarea>

        <input
          type="number"
          placeholder="Quantity (Strips)"
          [(ngModel)]="medicine.quantity"
          name="quantity"
          required
        />

        <input
          type="number"
          placeholder="Price"
          [(ngModel)]="medicine.price"
          name="price"
          required
        />

        <input
          type="date"
          [(ngModel)]="medicine.expiryDate"
          name="expiryDate"
          required
        />

      </div>

      <button type="submit" class="update-btn">
        💾 Update Medicine
      </button>

    </form>

  </div>

</div>